@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Console";
  src: url("../public/fonts/Glass_TTY_VT220.ttf");
}

:root,
[data-theme] {
  background: black;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

html {
  @apply overflow-y-scroll overflow-x-hidden;
}

body {
  @apply overflow-y-auto overflow-x-hidden;
}

.modal {
  @apply overflow-hidden;
}

.modal-box {
  @apply min-h-[20rem] max-w-[25rem] overflow-hidden;
  transform: translateZ(0);
}

.modal-backdrop,
.modal.backdrop-blur {
  @apply fixed inset-0 overflow-hidden;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.circle-gradient {
  border-radius: 630px;
  background: #bd93f1;
  filter: blur(229px);
  position: absolute;
  top: 0;
}

.circle-gradient-blue {
  border-radius: 630px;
  background: #a6e8fe;
  filter: blur(250px);
  position: absolute;
  top: 0;
  right: 0;
}

.border-gradient {
  border: 1px solid #5c4fe5;
}

.bg-modal {
  backdrop-filter: blur(7.449999809265137px);
}

.custom::after {
  position: absolute !important;
  display: block !important;
  height: 0.5rem !important;
  width: 0.5rem !important;
  top: 1rem !important;
  right: 1.4rem !important;
  transform: translateY(-100%) rotate(45deg) !important;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  content: "" !important;
  box-shadow: 2px 2px !important;
  pointer-events: none !important;
}

@layer utilities {
  .clip-corner {
    clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%);
  }

  .clip-corner::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 1rem;
    height: 1rem;
    background: inherit;
    border-top: 1px solid #8a45fc;
    border-right: 1px solid #8a45fc;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 10;
  }
}

.circle-gradient-dark {
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: 630px;
  background: #7353d2;
  filter: blur(229px);
}

.circle-gradient-blue-dark {
  border-radius: 630px;
  background: #0ea9ff;
  filter: blur(250px);
  position: absolute;
  top: 0;
  right: 0;
}

@layer utilities {
  .trapeze {
    width: 84px;
    height: 6px;
    clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
    position: relative;
    background-color: #5c4fe5;
    position: absolute;
    top: -1px;
  }
  .trapeze::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 84px;
    height: 6px;
    background: inherit;
    clip-path: polygon(100% 100%, 100% 0, 90% 100%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0%,
  100% {
    text-shadow:
      2px 0 6px rgba(0, 30, 255, 0.9),
      /* Blue */ -2px 0 6px rgba(255, 0, 80, 0.9),
      /* Pink */ 0 0 3px rgba(255, 255, 255, 0.3); /* Subtle white */
  }
  50% {
    text-shadow:
      3px 0 8px rgba(0, 30, 255, 1),
      /* Stronger blue */ -3px 0 8px rgba(255, 0, 80, 1),
      /* Stronger pink */ 0 0 4px rgba(255, 255, 255, 0.2); /* Less white */
  }
  75% {
    text-shadow:
      1px 0 5px rgba(0, 30, 255, 0.8),
      /* Softer blue */ -1px 0 5px rgba(255, 0, 80, 0.8),
      /* Softer pink */ 0 0 3px rgba(255, 255, 255, 0.2); /* Very subtle white */
  }
}
@keyframes boxShadow {
  0%,
  100% {
    box-shadow:
      1px 0 3px rgba(0, 30, 255, 0.7),
      -1px 0 3px rgba(255, 0, 80, 0.5),
      0 0 5px white;
  }
  50% {
    box-shadow:
      2px 0 4px rgba(0, 30, 255, 0.7),
      -2px 0 4px rgba(255, 0, 80, 0.5),
      0 0 6px white;
  }
  75% {
    box-shadow:
      1px 0 3px rgba(0, 30, 255, 0.8),
      -1px 0 3px rgba(255, 0, 80, 0.6),
      0 0 7px white;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size:
    100% 2px,
    3px 100%;
  pointer-events: none;
}

.crt {
  animation: textShadow 0.8s infinite alternate ease-in-out;
}

.textShadowAnimation {
  animation:
    textShadow 0.8s infinite alternate ease-in-out,
    boxShadow 0.8s infinite alternate ease-in-out;
}

.blinkCursor::after {
  position: relative;
  top: 4px;
  content: "";
  width: 15px;
  height: 20px;
  background: #24dc8f;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes distortion {
  0% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-5deg);
  }
  75% {
    transform: skewX(3deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
